<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp from="prannoy.mulmi@gmail.com">
                <network host="smtp.sendgrid.net" password="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" userName="IndividualApp" port="587" />
            </smtp>
        </mailSettings>
    </system.net>
    
</configuration>